.book-list {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4; /* Fondo del contenedor */
    justify-content: center; /* Centrar los libros horizontalmente */
    position: relative; /* Para posicionar el botón de logout */
}

.book-item {
    cursor: pointer;
    width: 150px; /* Ancho de la carcasa del libro */
    height: 200px; /* Altura de la carcasa del libro */
    background-color: #c0a080; /* Color base de la carcasa del libro */
    border: 1px solid #b08968; /* Borde para definir la carcasa */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 20px 20px;
    position: relative; /* Para la repisa */
}

.book-item::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Posición de la repisa respecto al libro */
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #654321; /* Color de la repisa */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Sombra de la repisa */
}

.book-item-title {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-top: auto;
    margin-bottom: 10px;
}

.new-book-form {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.new-book-form input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.new-book-form button {
    padding: 10px 20px;
    background-color: #45753c;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em;
}

.book-item input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 90%; /* Ajusta el ancho del input */
}

.book-item button {
    padding: 5px 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.loading-container-books {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.spinner-books {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s infinite linear;
}

.loading-message-books {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.friend-list {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide el espacio en dos columnas iguales */
    gap: 0; /* Espacio entre las columnas */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 621px; /* Ajusta el ancho total del contenedor para incluir ambas columnas */
    height: 602px;
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}


.friend-list-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px; /* Reducido para un botón más pequeño */
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 50%; /* Círculo perfecto */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    font-size: 12px; /* Tamaño de texto más pequeño */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ligera para profundidad */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Ancho fijo para el círculo */
    height: 40px; /* Alto fijo para el círculo */
}

.friend-list-button:hover {
    background-color: #0056b3; /* Un azul un poco más oscuro para el hover */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada para el efecto hover */
    transform: translateY(-2px); /* Eleva el botón ligeramente al hacer hover */
}

.friend-list-button:active {
    background-color: #004085; /* Azul aún más oscuro para el efecto de clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra regresa a su estado normal */
    transform: translateY(0); /* El botón regresa a su posición original */
}



